@import "../../styles/index.scss";

.login_container {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.login_wrapper {
  padding-right: 10%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  border-radius: 15px;
  // border: 1px solid rgba(0, 0, 0, 0.07);

  background: #fff;

  // box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
  border: 3px solid #eaeaff;
  display: flex;
  flex-direction: column;
}

.menu__icon {
  margin-top: 30px;
  width: 650px;
  height: 400px;
  margin-bottom: 30px;

  // font-size: 20px;
}

.contGoogle {
  // display: inline-block;
  margin-bottom: 30px;
  // border: 1px solid rgba(0, 0, 0, 0.07);
  // box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
  border: 3px solid #eaeaff;
  background: white;
  padding: 15px 20px;
  border-radius: 15px;
  @include flex(center, center);
  gap: 20px;
  @include fontSize("Roboto", 400, gray, 20px, 29px);
}

.input_base {
  // display: inline-block;
  margin-bottom: 30px;
  // border: 1px solid rgba(0, 0, 0, 0.07);
  // box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
  border: 3px solid #eaeaff;

  padding: 15px 20px;
  border-radius: 15px;
  @include fontSize("Roboto", 400, $dark-blue, 20px, 29px);
}

.input_base::placeholder {
  @include fontSize("Roboto", 400, gray, 20px, 29px);
}

.contGoogle:hover {
  background: #eaeaff;
}

.input_base:focus {
  outline: none;
  border: 3px solid $dark-blue;
}
.inputs_container {
  @include flex(space-between, center);
}
.date_label {
  display: block;
  @include fontSize("Roboto", 400, $dark-blue, 15px, 19px);
}
.date_container {
  width: 41%;
}
.date_container input {
  width: 83%;
}

.link_btn_logIn {
  padding-right: 17%;
  padding-left: 17%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  position: relative;
}

.btn_logIn {
  // width: 80%;
  background-color: $dark-blue;
  @include fontSize("Roboto", 400, $white, 26px, 29px);
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
}
.txtAcoouunt {
  @include flex(center, center);
  gap: 20px;
  margin-bottom: 30px;
}
.txtAcoouunt_noLink {
  @include fontSize("Roboto", 400, $gray, 23px, 29px);
}
.link_registration {
  @include fontSize("Roboto", 400, #3d6dff, 23px, 29px);
}
