@import "../../styles/index.scss";

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f4e558;
  border-radius: 10px;
  padding: 20px;
  width: 50%; /* Увеличиваем ширину контейнера */
  margin: 20px auto;
  margin-top: 30px;
  box-shadow: 0 0px 30px #f4e558;
  background-color: #fff;
}
.edit {
}
.userPhoto {
  width: 250px; /* Устанавливаем желаемый размер фотографии */
  height: 250px;
  border-radius: 50%;
  object-fit: cover; /* Изображение обрезается и масштабируется, чтобы заполнить контейнер, сохраняя пропорции */
  object-position: center; /* Обрезаем по центру кружочком */
}
.profileContent {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 90%;
}
.allfieldsContainer {
  display: flex;
  align-items: center;
  gap: 10%;
  margin-bottom: 20px;
}
.df {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}
.inputBase {
  padding: 5px 10px;
  border: 3px solid #eaeaff;
  @include fontSize("Roboto", 400, $dark-blue, 14px, 15px);
  border-radius: 10px;
}

.profilePhoto {
  // margin-right: 15%; /* Отступ справа для фото */
  width: 30%;
}

.profileInfo {
  // width: 100%;
  width: 30%;
}

.profileItem {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.profileItem span {
  margin-left: 10px;
  font-size: 16px;
}
.profileItem .profileItemText {
  @include fontSize("Roboto", 500, $dark-blue, 14px, 15px);
}
.profileItem .profileItemTextBd {
  @include fontSize("Roboto", 600, $dark-blue, 20px, 25px);
}
.name {
  @include fontSize("Roboto", 600, #f4e558, 30px, 39px);
}
.editButton {
  margin-top: 20px; /* Отступ сверху для кнопки редактирования */
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #007bff; /* Цвет кнопки редактирования */
}
.editButton,
.btnLogIn {
  @include fontSize("Roboto", 700, $white, 19px, 29px);
  margin-left: 20px;
  border: none;
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #003580;
}
.inputBasePhoto {
  @include fontSize("Roboto", 600, $white, 16px, 19px);
  border: none;
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #003580;
}
.editButton:hover,
.btnLogIn:hover {
  @include fontSize("Roboto", 700, $dark-blue, 19px, 29px);

  background-color: $yellow;
}

.editButton:hover {
  text-decoration: underline; /* Подчеркивание при наведении на кнопку */
}
