@import "../../styles/index.scss";

.wrapper {
  margin-top: 130px;
  @include flex(space-around, center);
}
.back_container {
  width: 50%;
  height: 570px;
  overflow: hidden;
}
.car_back {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_text {
  @include fontSize("Open Sans", 600, $dark-blue, 50px, 59px);
  margin-bottom: 35px;
}
.regular_text {
  @include fontSize("Roboto", 500, rgb(252, 210, 4), 29px, 29px);
  margin-bottom: 25px;
}
.btn_register {
  @include fontSize("Roboto", 700, $white, 25px, 29px);

  border: none;
  padding: 15px 35px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #003580;
}
.btn_register:hover {
  @include fontSize("Roboto", 700, $dark-blue, 25px, 29px);

  background-color: $yellow;
}
