@import "../../styles/index.scss";

.calendarContainer {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  gap: 5%;
  //   background-color: green;
}
.calendarLocalizationProvider {
  width: 30%;
}
.lessons {
  width: 40%;
}
.css-1rtg91x-MuiDateCalendar-root {
  margin: 5px;
}
.css-1aqny2q-MuiPickersCalendarHeader-root-MuiDatePickerToolbar-root {
  background-color: green;
}
// .calendarLocalizationProvider {
//   width: 100%;
// }
h2 {
  @include fontSize("Roboto", 500, $dark-blue, 24px, 26px);
}
.calendarDay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: yellow !important;
}
