@import "../../styles/index.scss";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-wrap: wrap;
  flex-direction: column;
  margin-top: 180px;
  gap: 30px;
  // height: 100vh;
}
.lesson {
  width: 40%;
}
.btn {
  width: 10%;
}

.payment_button {
  padding: 10px 20px;
  @include fontSize("Roboto", 700, $white, 19px, 29px);
  margin-left: 20px;
  border: none;
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #003580;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.chooseButton:hover {
  @include fontSize("Roboto", 700, $dark-blue, 19px, 29px);

  background-color: $yellow;
}
