@import "../../styles/index.scss";

.wrapper {
  text-decoration: "none";
  color: "inherit";
  padding-top: 220px;
  @include flex(center, center);
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 30px;
}
.wrapper_instructor {
  width: 27%;
  //   flex: 1 0 calc(33.333% - 10px); /* Процентное распределение, 10px - отступы между элементами */
  margin: 5px;

  border-radius: 15px;
  position: relative;
  border: 3px solid #eaeaff;
}
.wrapper_instructor:hover {
  background-color: #eaeaff;
}
.frame {
  width: 100%;
  height: 40vh;

  overflow: hidden;
  border-radius: 15px;
}
.car_img {
  width: 100%; /* Make the image take up 100% of the width of its container */
  height: 100%;
  object-fit: cover; /* Изображение обрезается и масштабируется, чтобы заполнить контейнер, сохраняя пропорции */
  object-position: center;
}
.ins_frame {
  height: 15vh;
  width: 15vh;

  background-color: $yellow;
  border-radius: 73px;
  position: absolute;
  top: 30vh;
  right: 5vh;
  overflow: hidden;
}
.instructor_img {
  width: auto; /* Make the image take up 100% of the width of its container */
  height: 100%;
  // width: 100%; /* Make the image take up 100% of the width of its container */
  // height: auto; /* Automatically adjust the height to maintain aspect ratio */
  // display: block; /* Ensure the image behaves as a block element */
  // margin: auto;
  // transform: translate(-50%, -50%);
}
.car_text {
  padding: 10px 40px;
}
.car_model {
  @include fontSize("Roboto", 500, $dark-blue, 15px, 19px);
}
.name_instructor {
  @include fontSize("Roboto", 500, $dark-blue, 17px, 19px);
}
.car_type {
  @include fontSize("Roboto", 500, $dark-blue, 15px, 19px);
}
.price_rating_section {
  @include flex(space-between, center);
}
.price_section {
  @include flex(center, center);
  gap: 10px;
}
.price_number {
  @include fontSize("Open Sans", 600, $dark-blue, 27px, 29px);
}
.price_text,
.rating {
  @include fontSize("Open Sans", 600, $dark-blue, 20px, 29px);
}
.ratingcontainer {
  @include flex(center, center);
}
.btn_choose {
  @include fontSize("Roboto", 700, $white, 19px, 29px);
  margin-left: 20px;
  border: none;
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #003580;
}

.btn_choose:hover {
  @include fontSize("Roboto", 700, $dark-blue, 19px, 29px);

  background-color: $yellow;
}
