$dark-blue: #003580;
$green: #7eb693;
$yellow: #f4e558;
$gray: #786868;
$dark-gray: #eff6f1;
$light-gray: #f9f8f8;
$light-green: #f1f8f4;
$light-pink: #fffafa;
$white: #ffffff;
$black: rgb(9, 8, 45);
$red: #FF0000;
